{{extend name="common@common/template" /}}
{{block name="title"}}Home{{/block}}
{{block name="menu"}}{{include file="common/menu" /}}{{/block}}
{{block name="imports"}}
<style>
.box {
  border: 4px solid #bbb;
}
</style>
{{/block}}
{{block name="body"}}
<h1>{{$Think.config.settings.server_name}}</h1>
<h4>{{$Think.config.settings.server_slogan}}</h4>
<hr />
<div class="row">
  <div class="col-lg-6 col-md-12 box">
    <h3>{{$Think.lang.featured}}</h3>
    <div class="container-fluid">
    {{volist name="featured_items" id="item"}}
    <div class="col-lg-6 col-md-3" style="border: 2px solid #eee; margin-bottom: 16px; ">
      <div class="container-fluid">
        <div class="col-lg-12" style="text-align: center; ">
          <img src="{{$item.image}}" style="width: 64px; height: 64px; " />
        </div>
        <div class="col-lg-12" style="text-align: center; ">
          <h4>[#{{$i}}] <strong>{{$item.name}}</strong></h4>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6" style="text-align: left; ">
            {{$Think.lang.contents}}: <br />
            {{$item.perk.name}} <a href="{{$Request.root}}/perk/view/id/{{$item.perk.id}}">(Details)</a>
          </div>
          <div class="col-lg-6" style="text-align: right; color: #ff5555; font-weight: bold; ">
            {{$Think.lang.price}}: <br />{{$item.price}}
          </div>
        </div>
        <div class="col-lg-12" style="margin-bottom: 8px; ">
          <a class="btn btn-danger" style="width: 100%; " href="{{$Request.root}}/shop/purchase/id/{{$item.id}}" >Purchase Now! </a>
        </div>
      </div>
    </div>
    {{/volist}}
    </div>
  </div>
  <div class="col-lg-6 col-md-12" style="border: 4px solid #bbb; ">
    <h3>{{$Think.lang.stats}}</h3>
    <p>
    {{$Think.lang.player_count}}: {{$users}}<br />
    {{$Think.lang.role_instance_count}}: {{$purchases}}<br />
    </p>
  </div>
  <div class="col-lg-12 box">
    <h3>My Information</h3>
    <div class="container-fluid" style="padding-bottom: 8px; ">
      {{empty name="Think.session.user_id"}}
        {{$Think.lang.not_logged_in}}, <a onclick="$('.login-form').toggle(); ">{{$Think.lang.login_now}}</a>! 
        {{include file="common@common/login" /}}
      {{else /}}
        {{$Think.lang.username}}: {{$Think.session.user_name}}<br />
        {{$Think.lang.balance}}: <span id="info_balance"></span><br />
        {{$Think.lang.roles}}: <span id="info_perks"></span><br />
      {{/empty}}
    </div>
  </div>
</div>
{{/block}}
{{block name="scripts"}}
<script type="text/javascript">
$(".login-form").toggle();
{{notempty name="Think.session.user_id"}}
value("{{$Request.root}}/api/user/balance", "#info_balance");
value("{{$Request.root}}/api/user/perks", "#info_perks");
{{/notempty}}
</script>
{{/block}}
