<li class="sidebar-brand">
  <a href="{{$Request.root}}">
    <h1>Welcome</h1>
  </a>
</li>
<div style="color: #fff; padding-left: 16px; ">
{{empty name="Think.session.user_id"}}
Not logged in, <a href="{{$Request.root}}/my/login">login now</a>! 
{{else /}}
{{/empty}}
</div>
<hr />
<li><a href="{{$Request.root}}">Home</a></li>
{{empty name="Think.session.user_id"}}
<li><a href="{{$Request.root}}/my/login">My</a></li>
{{else /}}
<li><a href="{{$Request.root}}/my">My</a></li>
{{/empty}}
<hr />
<li>
  <a href="{{$Request.root}}/shop">Shop</a>
  <ul id="categories">
{{volist name="item_categories" id="c"}}
<li><a href="{{$Request.root}}/shop/index/id/{{$c.id}}">{{$c.name}}</a></li>
{{/volist}}
  </ul>
</li>
<script type="javascript">
  $(function(){$("#menu").menu();});
</script>
